 .one,  .one_half,  .one_third,  .two_third,  .three_fourth, 
 .one_fourth{
    margin-right: 8%;
    float: left;
    position: relative;
	margin-bottom: 37px;
}
.last{
    margin-right: 0 !important;
    clear: right;
}
 .one{
    float: none;
    display: block;
    clear: both;
	margin-right: 0;
}
 .one_half{
    width: 46%;
}
 .one_third{
    width: 28%;
}
 .two_third{
    width: 64%;
}
 .one_fourth{
    width: 19%;
}
 .three_fourth{
    width: 73%;
}
 .one img,  .one_half img,  .one_third img,  .two_third img, 
 .three_fourth img,  .one_fourth img{
    max-width: 100%;
    height: auto;
    max-height: 100%;
    width: auto;	
}