@media screen and (max-width: 1018px) {

.hero-button {
  height: 100px;
  width: 300px;
  line-height: 100px;
}
	
div.content-960
{ 
	width: 800px;
}

div.main-menu .menu-holder
{
	max-width: 90%;
}
h1.big-tittle
{
margin-top: 0;
}
#slide-list
{
display: none;
}

ul#contact-form li #name, ul#contact-form li #contact-email, ul#contact-form li #website
{
	width: 358px;
}

ul#contact-form li #message
{
	width: 357px;
}

.bigmode { display: none; }
.smallmode { display: block; }

}


@media screen and (max-width: 840px) {

.bigmode { display: none; }
.smallmode { display: block; }
	
div.content-960
{ 
	width: 400px;
}
.content-630
{ 
	width: 90%;
}
h1.big-tittle {
font-size: 80px;
line-height: 66px;
}
h2.section-title {
font-size: 55px;
line-height: 40px;
}
.image-holder
{
float: none;
}
.comment-content-holder
{
float: none;
margin-left: 0;
width: 100% !important;
}
.comment-holder 
{
margin-left: 0;
}
#main-menu-sticky-wrapper
{
	height: auto !important;
}
.one_half, .one_third, .one_fourth, .two_third, .three_fourth {
	width: 100%;
	float: none;
	margin-right: 0;
	margin-left: 0;
}

.testimonial_slider_holder
{
max-width: 90%;
}
.testimonial-content, .testimonial-image
{
float: none;
text-align: center;
}
.testimonial-top-line
{
max-width: 90%;
margin-left: auto;
margin-right: auto;
}

ul#contact-form li #send-message
{
	margin-right: 20px;		
}
.scroll-top
{
left: 50%;
margin-left: -45px;
}
.big-social a
{
margin: 0 5px;
}

}

@media screen and (max-width: 423px) {

.bigmode { display: hidden; }
.smallmode { display: block; }

div.content-960
{ 
	width: 90%;
}

.hero-button {
  height: 100px;
  width: 300px;
  line-height: 100px;
  float: center;
}

h1.big-tittle {
font-size: 59px;
line-height: 50px;
}

ul#contact-form li #name, ul#contact-form li #contact-email, ul#contact-form li #website
{
	width: 240px;
}

ul#contact-form li #message
{	
	width: 240px;
}

ul#contact-form li #send-message
{
	max-width: 210px;
}
}
