body
{
	background-color: #f8f8f8;
	font-family: 'Open Sans',sans-serif,Arial;
	font-size: 17px; 	
	line-height: 30px;
	font-weight: 300;	
	color: #6d6d6d;
}
.montserrat-font
{
font-family: 'Montserrat', sans-serif, Arial;
}
.doc-loader 
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;	
	background-color: white;
}
.doc-loader td 
{       
    text-align: center;
    vertical-align: middle;
}
div.content-960
{
	max-width: 960px;
}
div.content-960 img
{
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.full-width img
{	
width: 100%;
height: auto;
}

/*MENU*/
.menu-logo
{
cursor: pointer;
padding-top: 14px;
}
.sticky-wrapper
{
height: 0 !important;
}

.main-menu
{
background: transparent;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

div.main-menu-fixbg {
  background-color: #222222;
}

.sticky-wrapper.is-sticky .main-menu
{
background-color: #222222;
}
div.main-menu
{
    width: 100%;
	z-index: 9999;	
	top: 0;
	position: fixed;
}
div.main-menu a.logo
{
	font-size: 26px;
    font-weight: 800;
	display: inline-block;
	padding: 20px 0;
}
div.main-menu .menu-holder
{	
	max-width: 960px;		
	text-align: center;
	height: auto !important;
}
div.main-menu .menu-holder ul
{
	height: 100%;
}
div.main-menu .menu-holder ul li
{
	display: inline-block;
	list-style-type: none;
	height: 100%;	
	font-size: 12px;	
	letter-spacing: 2px;
}
div.main-menu .menu-holder a
{	
	font-size: 13px;
	letter-spacing: 0;
	text-decoration: none;
	display: block;	
	margin: 22px 10px 15px 10px;
	color: white ;
}
div.main-menu .menu-holder li.active a, div.main-menu .menu-holder li a:hover
{ 
border-top: 3px solid white;
}
/*END MENU*/

/*SMALL MENU*/
.small-menu-logo
{
padding-top: 20px;
}
.small-menu-background
{
background-color: rgba(34, 34, 34, 0.9);
}
div.main-menu.small-menu-background  .menu-holder a
{
margin: 0px;
}
/*END SMALL MENU*/

.section
{
	padding-top: 150px;
}

h2.section-title
{
	font-size: 70px;
	font-weight: 700;
	letter-spacing: -5px;
	line-height: 55px;
	color: #222222;
    text-align: center; 
}
.title-separator
{
max-width: 230px;
border-top: 10px solid;
margin-top: 40px;
margin-bottom: 30px;
border-color: #4abd92;
}
.info
{
color: #9a96a0;
font-size: 20px;
line-height: 30px;
}

/*HOME*/
h1.big-tittle
{
text-align: top;
font-size: 120px;
font-weight: 700;
letter-spacing: -5px;
color: #ffffff;
}

/*HOME*/
h1.big-date
{
text-align: top;
font-size: 50px;
font-weight: 700;
margin-top: 30px;
letter-spacing: -2px;
color: #ffffff;
}



h1.big-countdown
{
text-align: top;
font-size: 40px;
margin-top: 40px;
line-height: 20px;
font-weight: 700;
color: #ffffff;
letter-spacing: -2px;
}


h2.big-tittle-description
{
	max-width: 450px;
	color: #ffffff;
	font-weight: 400;
}

/*END HOME*/

/*SERVICE*/
.services
{
background-image: url('../images/background.png');
}
.service-item-title
{
font-size: 22px;
line-height: 35px;
font-weight: 700;
margin-top: 50px;
color: #242f31;
}
.service-item-content
{
font-size: 16px;
line-height: 25px;
margin-top: 20px;
}
ul.service-list
{
display: inline-block;
font-size: 16px;
line-height: 25px;
color: #242f31;
margin-top: 50px;
margin-left: 10px;
}
ul.service-list li
{
background-image: url(../images/bullets.png);
background-repeat: no-repeat;
background-position: 0px 10px;
padding-left: 13px;
}

/*PORTFOLIO*/
.portfolio
{
background-color: #494351;
padding-bottom: 0;
}
.portfolio h2.section-title
{
color: #fbfbfb;
}
.portfolio .info
{
color: #d9d9d9;
}
a.preview
{
width: 100%;
top: 0;
left: 0;
background: #4FBC93;
}
.shadow
{
width: 100%;
height: 100%;
top: 0;
left: 0;
position: absolute;
-moz-opacity: 0.70;
opacity:.70;
filter: alpha(opacity=70);	
text-decoration: none;
}
.work_item_text
{
position: relative;
text-align: center;
display: block;
color: #fbfbfb;
font-size: 24px;
line-height: 30px;
font-weight: 700;
width: 90%;
margin: 0 auto;
}
#filters
{
margin-bottom: 50px;
margin-top: 100px;
}
#filters li a
{
color: #fbfbfb;
text-decoration: none;
padding: 10px 20px;
margin: 0 10px;
border-radius: 20px;
font-size: 13px;
}
#filters li a.selected
{
background-color: #4abd92;
}

/*ABOUT*/
.about
{
background-image: url('../images/background.png');
padding-bottom: 0;
}
.about h2.section-title
{
color: #484251;
}
.about .info
{
color: #9a96a0;
}
.big-about-font
{
color: #4abd92;
font-size: 32px;
line-height: 50px;
}
.coloured
{
top: 0;
left: 0;
opacity: 0;
}
.member-image-holder
{
line-height: 0;
}
.member-image-holder img
{
width: 100% !important;
height: auto !important;
max-width: none !important;
max-height: none !important;
}
.member-name h4
{
font-size: 22px;
line-height: 28px;
color: #242f31;
letter-spacing: -1px;
}
.team-position
{
font-size: 16px;
line-height: 25px;
letter-spacing: -1px;
}
.member-separator
{
border-top: 12px solid #dadada;
width: 155px;
margin-right: auto;
margin-left: auto;
margin-top: 10px;
margin-bottom: 20px;
}
.about_slider_background
{
min-height: 650px;
background-image: url('../images/background_stone.png');
background-repeat: no-repeat;
background-position: center center;
background-color: #494351;
}
.testimonial_slider_holder
{	
max-width: 820px;
width: 100%;
margin: 0 auto;
padding-top: 250px;
padding-bottom: 205px;
}
.testimonial-text
{
max-width: 660px;
font-size: 30px;
line-height: 40px;
color: white;
letter-spacing: -1px;
}
.testimonial-author
{
font-size: 24px;
line-height: 30px;
color: white;
}
.testimonial-top-line
{
border-top: 10px solid #44AE86;
padding-bottom: 40px;
max-width: 660px;
margin-left: 160px;
}
.image_slider li
{
line-height: 0;
font-size: 0;
}
div.featured_work_image_slider_holder
{
	margin-left: 0;
	width: auto;
	position: relative;
}
a#featured_work_prev
{
	position: absolute;
	top: 50%;
	left: 0;	
	margin-top: -45px;
}
a#featured_work_next
{
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -45px;	
}
.team-social
{
height: 25px;
margin-left: auto;
margin-right: auto;
overflow: hidden;
position: relative;
}
.team-social a
{
width: 25px;
height: 25px;
display: inline-block;
margin: 0 5px;
overflow: hidden;
}
.team-social a img
{
display: block;
max-height: none;
max-width: none;
}

/*BLOG*/
.blog
{
background-image: url('../images/background.png');
}
.blog .info
{
color: #9a96a0;
}
.blog-item-holder
{
padding: 35px 0;
-webkit-transition: background 0.5s ease;
-moz-transition: background 0.5s ease;
-ms-transition: background 0.5s ease;
-o-transition: background 0.5s ease;
transition: background 0.5s ease;
}
.blog-item-holder:hover
{
background-color: #44AE86;
color: white;
}
ul.date-author-likes-holder li
{
display: inline;
margin-right: 20px;
}
.blog-title
{
display: inline-block;
font-size: 22px;
line-height: 30px;
font-weight: 700;
}
.blog-title a
{
color: #484251;
text-decoration: none;
}
.blog-item-holder:hover .blog-title, .blog-item-holder:hover .blog-title a
{
color: white;
}
.blog-title:hover
{
cursor: pointer;
}
.like{  
background:url(../images/like.png) no-repeat;  
width: 25px;
height: 18px;
display: inline-block;
vertical-align: -3px; 
}  
.like:hover{  
    background-position:0 -18px;  
	cursor: pointer;
}  

/*CONTACT*/
.contact
{
background-image: url('../images/footer_maps.png');
background-repeat: no-repeat;
background-position: 75% 0;
}
.contact.section
{
padding-bottom: 10px;
}
.contact h2.section-title
{
color: #fbfbfb;
}
#contact
{
background-color: #444444;
}
.contact-title-info
{
color: #d9d9d9;
font-weight: 700;
font-size: 22px;
}
.contact-content-info
{
color: #d9d9d9;
}
ul#register-form li
{
	margin-bottom: 20px;
}
ul#register-form li.last-child
{
	text-align: right;
}

input[type=radio] {
  width: 20px;
  height: 20px;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
}

ul#register-form li #name, ul#register-form li #email, ul#register-form li #school, ul#register-form li #dietary, ul#register-form li #githuburl, ul#register-form li #username, ul#register-form li #password, ul#register-form li #passwordconfirm
{
	max-width: 408px;
  width: 90%;
	border: 0;
	padding-top:13px;
	padding-bottom:13px;
	margin: 0;
	height: 28px;
	padding-left: 30px;
	font-size: 16px;
	font-family: 'Open Sans',sans-serif,Arial;
	background-color: #777777;
	border-radius: 50px;
	color: #d9d9d9;
}


ul#register-form li #message
{
	width: 408px;
	margin-left: 0;
	border: 0;
	padding-top:13px;
	padding-bottom:0;
	margin: 0;
	padding-left: 30px;
	overflow: auto;
	font-size: 16px;
	font-family: 'Open Sans',sans-serif,Arial;
	background-color: #777777;
	border-radius: 25px;
	color: #d9d9d9;
}

ul#register-form li #send-message
{	
	margin-right: 4px;
	margin-top: 0;
	margin-bottom: 0;
}

/*FOOTER*/
.footer
{	
	width: 100%;	
	background-color: #3F3F3F;
}
.footer-content
{
padding: 80px 0;
}
.footer-content .title-separator
{
margin: 20px auto;
}
.scroll-top
{
width: 90px;
height: 90px;
left: 0;
top: -90px;
background-image: url('../images/back_to_top.png');
background-repeat: no-repeat;
}
.scroll-top:hover
{
background-position: 0 -90px;
cursor: pointer;
}
.footer-copyright
{
padding-top: 20px;
color: #d9d9d9;
font-size: 14px;
}

.big-social
{
bottom: -16px;
height: 59px;
margin-left: auto;
margin-right: auto;
overflow: hidden;
position: relative;
}

.big-social a img
{
display: block;
max-height: none;
max-width: none;
}

.big-social a
{
width: 59px;
height: 54px;
display: inline-block;
margin: 0 70px;
overflow: hidden;
}

/*SINGLE POST*/
.single-post .main-menu, .single-page .main-menu
{
background-color: #2e2935;
}
.content-630
{
max-width: 630px;
}
.content-630 img
{
max-width: 100%;
max-height: 100%;
width: auto;
height: auto;
}

.single-post .main-menu .menu-holder li a:hover
{
border: 0;
}

.post
{
padding-top: 150px;
} 

.single-blog-title
{
font-size: 30px;
line-height: 35px;
color: #484251;
font-weight: 700;
}
.single-big-text
{
font-size: 24px;
line-height: 40px;
}
blockquote
{
font-size: 18px;
line-height: 30px;
color: #44ae86;
border-left: 3px solid;
padding-left: 30px;
margin-left: 10%;
margin-top: 50px;
margin-bottom: 50px;
font-style: italic;
font-weight: 600;
}
.comments-number
{
font-size: 24px;
line-height: 30px;
color: #484251;
font-weight: 600;
letter-spacing: -2px;
}
.comment-content-holder
{
margin-left: 50px;
}
.comment-content-holder
{
width: 470px;
}
.comment-author
{
display: inline-block;
font-size: 18px;
color: #4abd92;
}
.comment-time-separator
{
display: inline-block;
font-size: 14px;
margin: 0 20px;
}
.comment-time
{
display: inline-block;
font-size: 14px;
}
.replay
{
display: inline-block;
font-size: 14px;
color: #4abd92;
}
.replay:hover
{
color: #484251;
cursor: pointer;
}
.second-level
{
margin-left: 10%;
}
.second-level .comment-content-holder
{
width: 407px;
}
.third-level
{
margin-left: 20%;
}
.third-level .comment-content-holder
{
width: 344px;
}
.submit-comment
{
background-color: #484251;
padding: 100px 0;
}
.leave-comment
{
font-size: 24px;
color: #f8f8f8;
letter-spacing: -2px;
}
.required-fields
{
font-size: 16px;
color: #d9d9d9;
}
ul#submit-form li
{
	margin-bottom: 20px;
}
ul#submit-form li.last-child
{
	text-align: right;
}
ul#submit-form li #submit-name, ul#submit-form li #submit-email, ul#submit-form li #submit-website 
{	
	border: 0;
	padding-top:13px;
	padding-bottom:13px;
	margin: 0;
	height: 28px;
	padding-left: 30px;
	font-size: 16px;
	font-family: 'Open Sans',sans-serif,Arial;
	background-color: #413b49;
	border-radius: 50px;
	color: #d9d9d9;
}
ul#submit-form li #submit-message
{
	margin-left: 0;
	border: 0;
	padding-top:13px;
	padding-bottom:0;
	margin: 0;
	padding-left: 30px;
	overflow: auto;
	font-size: 16px;
	font-family: 'Open Sans',sans-serif,Arial;
	background-color: #413b49;
	border-radius: 25px;
	color: #d9d9d9;
}
ul#submit-form li #send-submit-message
{	
	margin-right: 4px;
	margin-top: 0;
	margin-bottom: 0;
}

/*EXTERNAL*/
.external
{
padding-top: 150px;
padding-bottom: 150px;
}
h4.external-subtitles
{
letter-spacing: -2px;
color: #484251;
font-size: 22px;
font-weight: 600;
}
.how-we-do-title
{
font-weight: 600;
}
.pointer_spacer
{
margin-bottom: 37px;
}
.pricing-holder
{
text-align: center;
border: 1px solid #4abd92;
border-radius: 10px;
position: relative;
margin-bottom: 25px;
}
.pricing-header
{
color: white;
background: #4abd92;
border-radius: 8px 8px 0 0px;
padding: 15px 0;
}
.pricing-content
{
padding-bottom: 50px;
padding-top: 20px;
}
.pricing-button
{
position: absolute;
bottom: -30px;
}
.pricing-button a
{
margin: 0;
}
.progress_bar_field_holder
{
background-color: #dddddd;
}
.progress_bar_field_holder 
{
height: 35px;
position: relative;
margin-bottom: 20px;
border-radius: 30px;
overflow: hidden;
}
.progress_bar_title 
{
position: absolute;
top: 3px;
left: 30px;
z-index: 1;
color: #ffffff;
}
.progress_bar_field_perecent 
{
height: 35px;
position: absolute;
top: 0;
left: 0;
background-color: #4ABD92;
}
div.picfull
{
	width:100%;
}
a:link{
	color:#37b88f;
}
a:active{
	color:#37b88f;
}
a:visited{
	color:#37b88f;
}
a:hover{
	color:#329d78;
}

img.register-button {
	height:auto;
	width:auto;
}
img.register-button:hover {
	content:url(../images/reg_btn_hvr.png);
}

/* form validation error class */
.error {
  color: #FF0000;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
#sponsors img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 100px;
	padding-top: 5px;
}

img#sponsors {
  max-width: 960px;
  width: 100%;
}

